body,
html {
	height: 100%;
	margin: 0;
	background-color: black; /* Set background color to transparent */
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: flex-start;
}

img {
	display: block;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Center the input and button */
#fileInput,
.big-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	border-radius: 20px;
	margin: 20px; /* Adjusted margin for better spacing */
	text-align: center;
	font-size: larger;
	color: white;
	border: none;
	cursor: pointer;
	z-index: 1;
}

#fileInput {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom right, violet, purple);
	padding: 15px;
}

.big-button {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(to bottom right, #00ff00, #008000);
	padding: 40px;
}

/* Add animation effect */
.big-button,
#fileInput {
	transition: transform 0.5s;
}

.big-button:active,
#fileInput:active {
	transform: translate(-5%) scale(1.25);
}

/* Media query for iPhone */
@media only screen and (max-width: 414px) {
	body,
	html {
		justify-content: center; /* Center content horizontally */
		align-items: center; /* Center content vertically */
	}
	img {
		width: 100%; /* Adjust image width */
		height: auto; /* Maintain aspect ratio */
	}
	#fileInput,
	.big-button {
		width: 90%; /* Adjust button width */
	}
}
